* {
    padding: 0;
    margin: 0;
    
}
body {
    background-color: #F5F8FF;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.header {
    background-image: url(Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 0px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0; 
}
nav h3 {
    color: #4E47FF;
    font-size: 34px;
    margin: 20px 150px;
}
a{
    text-decoration: none;
}
nav button{
    margin: 20px 150px;
}
.button-primary {
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s, transform 0.3s, box-shadow 0.3s;
}
.button-primary:hover {
    background-color: rgb(180, 180, 6);
    transform: translate(-3px) scale(1.05);
    box-shadow:0 8px 24px rgba(0,0,0, 0.15);
}
.focused {
    text-align: center;
    margin: 80px 200px;
    margin-bottom: 0;
}
.about {
    color: #252432;
    font-size: 50px;
    margin-top: 100px;
}
.btn-about{
    margin-top: 85px;
    margin-bottom: 100px;
}
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    gap: 50px;
}
.action-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}
.action-details p{
    font-size: 24px;

}
.action-details h4{
    font-size: 42px;

}
.act-color{
    color: #252432;

}
.lite-color{
    color: #252432;
    opacity: 0.5;
    
}
.action-img img {
    width: 403px;
    height: 328px;
    border-radius: 15px;
    margin-top: 50px;
}
.producive-user{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px 100px;
    padding: 20px 0px;
    background-color: #E5E7FF;
    border-radius: 10px;
}
.producive-user h3{
    font-size: 38px;
    padding: 20px;
}
.mat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    gap: 60px;
    padding: 15px;
}
.act-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.act-user h2{
    color: #4E47FF;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
.act-user p {
    font-size: 20px;
    justify-content: center;
}
.user-feedback {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 80px 100px;
}
.user-feedback h2{
    font-size: 42px;
    color: #252432;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 40px;
    gap: 5px;
}
.card-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
}
.stars {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    margin-bottom: 10px;
}
.stars img {
    display: inline-block;
}

.card-one-details h6{

    font-size: 20px;
    color: #252432;
    margin-bottom: 10px;
    padding: 5px;
}
.card-one-details p{
    font-size: 10px;
    color: #252432;
}
.name p{
    opacity: 0.4;
    font-size: 12px;
}
.card-user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
main{
    margin-top: 0px;
    background-color: #F5F8FF;
}
.ready{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 100px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 40px;
    background-color: #fff;
}
.ready-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 10px 40px;
}
.ready-details h1 {
    font-size: 50px;
    color: #252432;
    margin-bottom: 20px;
}
.ready-details button{
    margin: 10px 0 10px 0;
}
.wc-big img{
    width: 640px;
    height: 280px;
    border-radius: 8px;  
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0;
    margin-bottom: 40px;
}
.log-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
}
.msg-show h1 {
    font-size: 50px;
    color: #000;
    text-align: left;
    padding: 40px;
    width: 100%;
    max-width: none;
    white-space: nowrap;

}
.take-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
    margin: 150px;
}
.take-input input, .take-input textarea{
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    font-size: 18px;
}
.take-input label{
    margin-bottom: 4px;
    font-size: 16px;
    color: #252432;
    font-weight: bold;
}
.footer-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 150px;
    margin-bottom: 10px;
    padding: 40px;
}
.footer-detail h1{
    color: #4E47FF;
    font-size: 70px;
    font-weight: bold;
}
.footer-detail p{
    font-size: 15px;
    margin: 0px 0;
    text-align: center;
    text-wrap: wrap;
}
.list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.list ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;
    color: #8987A1;
}